*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
}
p {
    
    font-size: 20px;
    font-style: italic;
    word-wrap: break-word;
    width: 1000px;
}
h1 {
    padding-top: 50px;
    
    font-size: 50px;
    font-style: italic;
}
.stars {
    display: inline-block;
}
.checked {
    
    color: #D54215;
}
.section1 {
    display: inline-block;
    
    text-decoration: underline ;
    text-decoration-color: #D54215;
}
h6 {
   font-size: 13px;
}
#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    align-content: center;
    position: relative;
    margin-top: 1.5rem;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: .3125rem;
    width: 500px;
    padding: 1.75rem 1.5rem 1.5rem;
    background-color: #fff;
}